# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
*/build/*
*/build/*
*/bazel-bin/*
*/bazel-out/*
*/bazel-testlogs/*
*/bazel-*/
*MODULE.bazel.lock
*MODULE.bazel

# build files from Bazel in lab3, TODO: Recheck why these are visible
CppExercises/lab3/bazel-bin
CppExercises/lab3/bazel-lab3
CppExercises/lab3/bazel-out
CppExercises/lab3/bazel-testlogs
